{% extends "base.html" %} 
{% block title %}Discret Summation{% endblock %} 
{%block username %}Welcome, {{user.first_name}} {%endblock%}
{% block content%}
<h1>Welcome, Hanen Trash 💩 </h1>
<hr>
<div class="container">
<div class="alert alert-primary" role="alert">
  This is a Application work as following : \[\sum_{i = Start }^{End} Function\] Give it a click if you like.
</div>

<form action="" method="POST">
    <div class="form-row">
      <div class="col-5">
        <input type="text"  name='fun' class="form-control" placeholder="Function">
      </div>
      <div class="col-2">
        <input type="text"  name='var' class="form-control" placeholder="i">
      </div>
      <div class="col">
        <input type="text" name='start' class="form-control" placeholder="Start">
      </div>
      <div class="col">
        <input type="text" name='end' class="form-control" placeholder="End">
      </div>
    </div>
    <br>
    <div class="form-row">
    <div class="col">
        <input class ="btn btn-primary" type="submit"  class="form-control" >
    </div>
    </div>
  </form>

</div>
<div class="alert alert-primary m-2" role="alert">
    <h1>Results :</h1>
    <hr>
    \[{{exp}} = {{result}} = {{simplify}}\]
</div>

{% endblock %}
