{% extends "base.html" %} 
{% block title %}Math List{% endblock %} 
{%block username %}Welcome, {{user.first_name}} {%endblock%}
{% block content%}
    <div class="container">

        <div class="row showcase stm-font">
            <div class="col-sm-4 hidden-xs">
                <div class="well shadow up-hover color-hover">
                    <a style="text-decoration: none;" href="Math">                        
                        <h1><i class="fas fa-function"></i></h1>
                        <h2 style="font-family: pacifico;">calculus </h2>
                    </a>
                </div>                  
            </div>

            <div class="col-sm-4 hidden-xs">
                <div class="well shadow up-hover color-hover">
                    <a style="text-decoration: none;" href="Plotting">                        
                        <h1><i class="fa fa-bar-chart" aria-hidden="true"></i></h1>
                        <h2 style="font-family: pacifico;">Ploting </h2>
                    </a>
                </div>                  
            </div>

            <div class="col-sm-4 hidden-xs">
                <div class="well shadow up-hover color-hover">
                    <a style="text-decoration: none;" href="DiscretSum">                        
                        <h1><i class="far fa-sigma"></i></h1>
                        <h2 style="font-family: pacifico">Discret Summation </h2>
                    </a>
                </div>                  
            </div>
            

        </div>
    </div>

    <!-- Links & Scripts-->  

    <link
    type="text/css"
    rel="stylesheet"
    href="{{ url_for('static', filename='/CSS/tools.css') }}"
    />
    <script
    type="text/javascript"
    src="{{ url_for('static', filename='/JS/tools.js') }}"
    ></script>

{% endblock %}
