{% extends "base.html" %} 
    {% block title %}My Notebook{% endblock %} 
        {%block username %}Welcome, {{user.first_name}} {%endblock%}
        {% block content%}
        <h1 align="center" style="font-family:pacifico;">Notebook
            <i class="fa fa-pencil" aria-hidden="true" title="What's up?"> </i>
        </h1>

        <div class="info-msg">
            <i class="fa fa-info-circle"></i>
            If you want to write a latex expression, all you need to do is to write the desired text within the following
            
            syntaxe \\[The Latex expression\\]
        </div>
        
            <ul class="list-group list-group-flush" id="notes">
                {% for note in user.notes %}
                <li style="font-family:pacifico;" class="list-group-item">
                    {{ note.data }}
                    
                    <button type="button" class="close" onClick="deleteNote({{ note.id }})">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </li>
                <small class="font-weight-light text-right">{{ note.date }}</small>
                {% endfor %}
            </ul>
        <form method="POST" enctype="multipart/form-data" >
            <div class="form-outline">
                <textarea  style="font-family:pacifico;" name="note" id="note" class="form-control" ></textarea>
                <label class="form-label" for="note">Notes</label>
            </div>          
            
            
            
            <div align="center">
                <button type="submit" class="btn btn-primary">Add Note</button>
            </div>
        </form>

        <script
        type="text/javascript"
        src="{{ url_for('static', filename='/JS/Notebook.js') }}"
        ></script>    

        {% endblock %}