{% extends "base.html" %} 
{% block title %}Programing List{% endblock %} 
{%block username %}Welcome, {{user.first_name}} {%endblock%}
{% block content%}
    <div class="container">

        <div class="row showcase stm-font">
            <div class="col-sm-4 hidden-xs">
                <div class="well shadow up-hover color-hover">
                    <a style="text-decoration: none;" href="python">           
                        <i class="fab fa-python fa-8x"></i>             
                        
                        <h2 style="font-family: pacifico;">Python </h2>
                    </a>
                </div>                  
            </div>


        </div>
    </div>

    <!-- Links & Scripts-->  
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link
    type="text/css"
    rel="stylesheet"
    href="{{ url_for('static', filename='/CSS/tools.css') }}"
    />
    <script
    type="text/javascript"
    src="{{ url_for('static', filename='/JS/tools.js') }}"
    ></script>

{% endblock %}
